.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

#text {
  font-size: 40px;
  text-align: center;
}

#author {
  font-size: 25px;
  font-style: italic;
  text-align: center;
  position: relative;
  top: -50px;
}

#quote-box {
  padding: 50px;
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

#quote-wrap {
  display: flex;
  flex-direction: column;
}

#new-quote {
  width: auto;
  align-self: center;
  border: none;
  background-color: black;
  color: white;
  padding: 1em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 0.3em;
  position: absolute;
  bottom: 200px;
  cursor: pointer;
}

#tweet-quote {
  text-decoration: none;
  color: #1d9cef;
  font-weight: bold;
  position: relative;
  margin: auto;
  border: 3px solid #1d9cef;
  border-radius: 1.5em;
  padding: 0.5em 1em 0.65em 1em;
}
